div.product-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 350px;
    height: auto;
    box-shadow: 0px 0px 5px #ed2f59;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    cursor: pointer;

    img {
        width: 300px;
        border-radius: 10px;
    }

    >p.product-card-title {
        font-size: 22px;
        font-family: 'Inter';
        font-weight: 700;
    }

    &:hover {
        box-shadow: none;
        outline: 2px solid #ed2f59 !important;
    }
}


div.product-card-specifications-wrapper {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 30px;
    position: relative;
    background: white;

    >div.product-images-wrapper {
        cursor: pointer;

        >img {
            transition: all 0.5s ease-in-out;
            position: relative;
            left: -10px;
            border-radius: 10px;
            margin-top: 5px;

            &:hover {
                transition: all 0.5s ease-in-out;
                transform: scale(1.1);
            }
        }
    }

    >div.product-card-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-left: 10px;

        >div.product-description-wrapper {
            >h1 {
                font-family: "Inter";
                color: #ed2f59;
            }

            >p.product-card-title {
                font-size: 25px;
                margin-top: 10px;
                font-weight: 700;
            }

            >p.product-card-content-description {
                color: #666666;
                font-weight: 500;
                margin-top: 5px;
                line-height: 21px;
                text-align: justify;
            }
        }

        >div.product-description-wrapper {
            >h1 {
                font-family: "Inter";
                color: #ed2f59;
            }

            >ul {
                margin-top: 10px;
                line-height: 25px;
                list-style: none;

                >li {
                    color: #666666;
                    font-weight: 500;

                    >span {
                        font-weight: 600;
                        color: black;
                    }
                }
            }
        }

    }
}


@media screen and (min-width:1212px) and (max-width: 1365px) {
    div.product-card-specifications-wrapper {
        >div.product-images-wrapper {
            >img {
                width: 400px;
            }
        }

        >div.product-card-content-wrapper {
            padding-top: 40px;
            padding-bottom: 40px;
            margin-left: -20px;
        }
    }
}


@media screen and (min-width: 785px) and (max-width: 1212px) {
    div.product-card-specifications-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >div.product-images-wrapper {
            >img {
                width: 400px;
            }
        }

        >div.product-card-content-wrapper {
            margin-top: -20px;
            padding-bottom: 30px;
        }
    }
}


@media screen and (max-width: 1212px) {
    div.product-card-specifications-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >div.product-images-wrapper {
            >img {
                width: 350px;
                margin-left: 20px;
            }
        }

        >div.product-card-content-wrapper {
            margin-top: -20px;
            padding-bottom: 30px;

            >div.product-description-wrapper {
                >h1 {
                    font-size: 26px;
                }

                >p.product-card-title {
                    font-size: 21px;
                }
            }
        }
    }
}


@media screen and (max-width: 555px) {
    div.product-card-specifications-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >div.product-images-wrapper {
            >img {
                width: 250px;
                margin-left: 20px;
            }
        }

        >div.product-card-content-wrapper {
            margin-top: -50px;
            padding-bottom: 30px;

            >div.product-description-wrapper {
                >h1 {
                    font-size: 22px;
                }

                >p.product-card-title {
                    font-size: 21px;
                }
            }
        }
    }
}