div.product-card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 350px;
    height: auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    img{
        width: 300px;
    }
    >p.product-card-title {
        font-size: 18px;
        font-family: 'Inter';
        font-weight: 600;
    }
    &:hover{
        transition: all 0.3s ease-in-out;
        box-shadow: none;
        outline :1px solid #808080;
    }
}