div.product-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  width: 350px;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 5px #ccc;
          box-shadow: 0px 0px 5px #ccc;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
}

div.product-card-wrapper img {
  width: 300px;
  border-radius: 10px;
}

div.product-card-wrapper > p.product-card-title {
  font-size: 22px;
  font-family: 'Inter';
  font-weight: 700;
}

div.product-card-wrapper:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 2px solid #ed2f59 !important;
}

div.product-card-specifications-wrapper {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 5px #ccc;
          box-shadow: 0px 0px 5px #ccc;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 30px;
  position: relative;
}

div.product-card-specifications-wrapper > div.product-images-wrapper {
  cursor: pointer;
}

div.product-card-specifications-wrapper > div.product-images-wrapper > img {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  left: -10px;
  border-radius: 10px;
}

div.product-card-specifications-wrapper > div.product-images-wrapper > img:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

div.product-card-specifications-wrapper > div.product-card-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  margin-left: 10px;
}

div.product-card-specifications-wrapper > div.product-card-content-wrapper > div.product-description-wrapper > h1 {
  font-family: "Inter";
  color: #ed2f59;
}

div.product-card-specifications-wrapper > div.product-card-content-wrapper > div.product-description-wrapper > p.product-card-title {
  font-size: 25px;
  margin-top: 10px;
  font-weight: 700;
}

div.product-card-specifications-wrapper > div.product-card-content-wrapper > div.product-description-wrapper > p.product-card-content-description {
  color: gray;
  font-weight: 500;
  margin-top: 5px;
  line-height: 21px;
}

div.product-card-specifications-wrapper > div.product-card-content-wrapper > div.product-description-wrapper > h1 {
  font-family: "Inter";
  color: #ed2f59;
}

div.product-card-specifications-wrapper > div.product-card-content-wrapper > div.product-description-wrapper > ul {
  margin-top: 10px;
  line-height: 25px;
  list-style: none;
}

div.product-card-specifications-wrapper > div.product-card-content-wrapper > div.product-description-wrapper > ul > li {
  color: gray;
  font-weight: 500;
}

div.product-card-specifications-wrapper > div.product-card-content-wrapper > div.product-description-wrapper > ul > li > span {
  font-weight: 600;
  color: black;
}
/*# sourceMappingURL=style.cards.productCard.css.map */