    div.product-section-cards-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
        margin-bottom: 10em;
        flex-direction: column;

        >p.product-section-cards-title {
            font-size: 100px;
            font-family: 'Baloo 2';
            font-weight: 800;
        }

        >div {
            display: flex;
            gap: 30px;
        }

        >div.product-card-first-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;
            // background-color: #ed2f59;

        }
    }



    @media screen and (max-width: 800px) {
        div.products-section-wrapper{
            >div.product-section-cards-wrapper{
                >p.product-section-cards-title{
                    font-size: 70px;
                }
            }
        }
    }