div.contact-card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 380px;
    height: auto;
    background: rgb(153, 0, 255);
    transition: all 0.5s ease-in-out;
    // background: linear-gradient(90deg, rgba(247, 0, 81, 1) 0%, rgba(7, 0, 255, 1) 100%, rgba(238, 0, 255, 1) 100%);
    border-radius: 5px;
    padding: 30px;
    color: white;
    cursor: pointer;
    >p{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        font-weight: 500;
        >span{
            font-size: 40px;
        }
    }
    &:hover{
        background-color: rgb(114, 82, 255);
        ;
    }
}

@media screen and (max-width:500px) {
    div.contact-card-wrapper {
        width: 350px;
    }
}