div.contact-us-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10em;
}

div.contact-us-section-wrapper > p.contact-us-section-title {
  margin-top: 30px;
  font-size: 100px;
  font-family: 'Baloo 2';
  font-weight: 800;
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4em;
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 80px;
  margin-top: -4em;
  border-radius: 5px;
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > p.send-message-us-title {
  font-size: 40px;
  font-family: 'Inter';
  font-weight: 800;
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > p.send-message-us-description {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 19px;
  color: #666666;
  margin-top: 10px;
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > form.contact-us-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1em;
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > form.contact-us-form-wrapper > label {
  color: black;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  margin-top: 1em;
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > form.contact-us-form-wrapper > label > input {
  display: block;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-top: 0.5em;
  border: 2px solid #666666;
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > form.contact-us-form-wrapper > label > input:focus {
  outline: none;
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > form.contact-us-form-wrapper > label > input::-webkit-input-placeholder {
  font-size: 16px;
  font-family: 'Inter';
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > form.contact-us-form-wrapper > label > input:-ms-input-placeholder {
  font-size: 16px;
  font-family: 'Inter';
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > form.contact-us-form-wrapper > label > input::-ms-input-placeholder {
  font-size: 16px;
  font-family: 'Inter';
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > form.contact-us-form-wrapper > label > input::placeholder {
  font-size: 16px;
  font-family: 'Inter';
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > form.contact-us-form-wrapper > label > textarea {
  display: block;
  margin-top: 0.5em;
  border-radius: 5px;
  padding: 0.8em 1em;
  border: 2px solid #666666;
  font-size: 16px;
  font-family: 'Inter';
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > form.contact-us-form-wrapper > label > textarea:focus {
  outline: none;
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > form.contact-us-form-wrapper > label > textarea::-webkit-input-placeholder {
  font-size: 16px;
  font-family: 'Inter';
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > form.contact-us-form-wrapper > label > textarea:-ms-input-placeholder {
  font-size: 16px;
  font-family: 'Inter';
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > form.contact-us-form-wrapper > label > textarea::-ms-input-placeholder {
  font-size: 16px;
  font-family: 'Inter';
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > form.contact-us-form-wrapper > label > textarea::placeholder {
  font-size: 16px;
  font-family: 'Inter';
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > form.contact-us-form-wrapper > button.btn-submit {
  padding: 0.8em 1.5em;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  background-color: #ed2f59;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > form.contact-us-form-wrapper > button.btn-submit:focus {
  outline: none;
}

div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > form.contact-us-form-wrapper > button.btn-submit:hover {
  background-color: #ff2d5b;
  background-color: #ff2d5b;
}

div.contact-us-section-wrapper > div.contact-us-company-details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10em;
  gap: 60px;
}

div.contact-us-section-wrapper > div.contact-us-company-details-container > div.contact-us-company-address-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  border-radius: 5px;
  width: 500px;
}

div.contact-us-section-wrapper > div.contact-us-company-details-container > div.contact-us-company-address-card-wrapper > p.contact-us-company-address-card-title {
  font-size: 40px;
  font-family: 'Inter';
  font-weight: 800;
}

div.contact-us-section-wrapper > div.contact-us-company-details-container > div.contact-us-company-address-card-wrapper > p.contact-us-company-address-card-description {
  font-size: 19px;
  font-family: 'Inter';
  color: #666666;
  font-weight: 600;
}

div.contact-us-section-wrapper > div.contact-us-company-details-container > div.contact-us-company-address-card-wrapper > div.quick-card-component-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  gap: 55px;
}

div.contact-us-section-wrapper > div.contact-us-company-details-container > div.contact-us-google-map-location-wrapper {
  overflow: hidden;
  border-radius: 5px;
  margin-right: -70px;
}

div.contact-us-section-wrapper > div.card-component-admin-details-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-top: 50px;
  margin-left: 60px;
}

@media screen and (min-width: 1000px) and (max-width: 1250px) {
  div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-illustration-wrapper > img {
    width: 450px;
    margin-top: 80px;
    margin-left: -50px;
  }
  div.contact-us-section-wrapper > div.contact-us-company-details-container {
    margin-left: -30px;
  }
  div.contact-us-section-wrapper > div.contact-us-company-details-container > div.contact-us-company-address-card-wrapper {
    width: 350px;
  }
  div.contact-us-section-wrapper > div.contact-us-company-details-container > div.contact-us-google-map-location-wrapper {
    margin-top: 10px;
  }
  div.contact-us-section-wrapper > div.contact-us-company-details-container > div.contact-us-google-map-location-wrapper > iframe {
    height: 480px;
    width: 500px;
    border-radius: 10px;
  }
  div.contact-us-section-wrapper > div.card-component-admin-details-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    margin-left: -5px;
  }
}

@media screen and (max-width: 1000px) {
  div.contact-us-section-wrapper > p.contact-us-section-title {
    font-size: 70px;
  }
  div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-illustration-wrapper > img {
    width: 500px;
    margin-top: 80px;
  }
  div.contact-us-section-wrapper > div.contact-us-company-details-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.contact-us-section-wrapper > div.contact-us-company-details-container > div.contact-us-company-address-card-wrapper {
    margin-left: 20px;
  }
  div.contact-us-section-wrapper > div.contact-us-company-details-container > div.contact-us-google-map-location-wrapper {
    margin-top: 10px;
    margin-left: 10px;
  }
  div.contact-us-section-wrapper > div.contact-us-company-details-container > div.contact-us-google-map-location-wrapper > iframe {
    height: 470px;
    width: 490px;
    margin-left: 5px;
    border-radius: 10px;
  }
  div.contact-us-section-wrapper > div.card-component-admin-details-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    margin-left: -5px;
  }
  div.contact-us-section-wrapper > div.card-component-admin-details-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    margin-top: 100px;
  }
}

@media screen and (max-width: 500px) {
  div.contact-us-section-wrapper {
    background-repeat: no-repeat;
    background-size: contain;
  }
  div.contact-us-section-wrapper > p.contact-us-section-title {
    font-size: 50px;
  }
  div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
  }
  div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-illustration-wrapper > img {
    width: 300px;
    margin-top: 20px;
  }
  div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > p.send-message-us-title {
    font-size: 35px;
  }
  div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > p.send-message-us-description {
    text-align: center;
  }
  div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > form.contact-us-form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > form.contact-us-form-wrapper > label > input {
    width: 23em;
  }
  div.contact-us-section-wrapper > div.contact-us-send-message-and-map-wrapper > div.contact-us-send-message-us-wrapper > form.contact-us-form-wrapper > label > textarea {
    width: 19em;
  }
  div.contact-us-section-wrapper > div.contact-us-company-details-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.contact-us-section-wrapper > div.contact-us-company-details-container > div.contact-us-company-address-card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -30px;
  }
  div.contact-us-section-wrapper > div.contact-us-company-details-container > div.contact-us-company-address-card-wrapper > p.contact-us-company-address-card-title {
    font-size: 35px;
  }
  div.contact-us-section-wrapper > div.contact-us-company-details-container > div.contact-us-company-address-card-wrapper > p.contact-us-company-address-card-description {
    padding-left: 4em;
    padding-right: 4em;
    text-align: center;
    margin-right: 5px;
  }
  div.contact-us-section-wrapper > div.contact-us-company-details-container > div.contact-us-company-address-card-wrapper > div.quick-card-component-wrapper {
    margin-left: 50px;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.contact-us-section-wrapper > div.contact-us-company-details-container > div.contact-us-google-map-location-wrapper {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  div.contact-us-section-wrapper > div.contact-us-company-details-container > div.contact-us-google-map-location-wrapper > iframe {
    height: 365px;
    width: 365px;
    border-radius: 10px;
    margin-left: -20px;
  }
  div.contact-us-section-wrapper > div.card-component-admin-details-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    gap: 20px;
  }
}
/*# sourceMappingURL=style.views.contactUs.css.map */