button.button-properties {
    padding: 0.7em 1.5em;
    text-align: center;
    font-size: 18px;
    font-family: inherit;
    border-radius: 8px;
    border: none;
    background-color: rgb(153, 0, 255);
    // background-color: blue;
    font-weight: 500;
    color: white;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:hover {
        // background-color: hsl(240, 100%, 60%);
        background-color: rgb(153, 0, 255);
    }
}

button.button-icon-properties {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em 1.5em;
    text-align: center;
    font-size: 18px;
    font-family: inherit;
    border: none;
    border-radius: 8px;
    background-color: rgb(237,47,89);
    // background-color: rgb(153, 0, 255);
    // transition: all 2s ease-in-out;
    font-weight: 500;
    color: white;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:hover {
        // transition: all 2s ease-in-out;
        // background-color: hsl(240, 100%, 60%);
        background-color: rgb(255, 45, 91);
    }

    >i {
        padding-right: 10px;
        font-size: 25px;
        font-weight: 800;
    }
}