div.home-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    >div.home-section-content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 50px;

        >p.home-section-title {
            font-family: 'Baloo 2';
            font-weight: 800;
            font-size: 80px;
            line-height: 85px;
            text-align: center;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 20px;
        }

        >p.home-section-second-title {
            font-family: 'Inter';
            font-weight: 600;
            margin-top: 10px;
            font-size: 17px;
            margin-left: 30px;
            color: #666666;
        }
    }

    >div.primary-button-pages-wrapper {
        display: flex;
        gap: 15px;
        justify-content: flex-start;
        margin-top: 20px;
        z-index: 10;

        >a {
            cursor: pointer;
        }
    }

    >div.person {
        display: flex;
        animation: rotate 5s infinite alternate;
        z-index: 5;
        margin-top: -4em;
        margin-left: -40%;

        @keyframes rotate {
            40% {
                transform: rotate(-5deg);
            }

            70% {
                transform: rotate(-5deg);
            }
        }

        >img {
            width: 55%;
        }
    }

    >div.custom-wavy-shape-bottom {
        position: relative;
        top: -12.5em;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);

        >svg {
            position: relative;
            display: block;
            width: calc(200% + 1.3px);
            height: 200px;

            >path.shape-fill {
                fill: #ED2F59;
                // fill: rgb(153, 0, 255);
            }
        }
    }

    >div.product-section-cards-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        >p.product-section-cards-title {
            font-size: 100px;
            font-family: 'Baloo 2';
            font-weight: 800;
            text-align: center;
            margin-top: -0.3em;
            background-color: #FFC8C8;
            width: 100%;
        }
                
        >div.product-card-first-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FFC8C8;
            width: 100%;
            margin-top: -2em;
            padding-top: 5em;
            padding-bottom: 5em;
            
            // background-color: #ed2f59;
            >img {
                margin-left: 20px;
                width: 570px;
            }
        }
        
        >div.product-card-second-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FFC8C8;
            width: 100%;
            margin-top: -2em;
            padding-top: 5em;
            padding-bottom: 5em;

            // background-color: #ed2f59;
            >img {
                width: 570px;
            }
        }
        >div.bg-bottom{
            margin-top: -2em;
        }
    }

    >div.why-choose-us-section-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5em;
        background-color: rgb(240, 240, 240);
        width: 100%;

        >p.why-choose-us-section-title {
            font-size: 100px;
            font-family: 'Baloo 2';
            font-weight: 800;
            margin-top: 30px;
        }

        >div.why-choose-us-cards-container {
            display: flex;
            flex-direction: row;
            gap: 40px;
            align-items: center;
            margin-top: 50px;
            padding-bottom: 10em;
        }

    }

    >div.service-section-cards-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 10em;
        margin-bottom: 10em;
        // background-color: rgb(255, 200, 200);
        // background-color: #ffc8c8;
        width: 100%;


        >div.service-section-content-container {
            margin-top: -35px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(255, 200, 200);
            width: 100%;

            >p.service-section-title {
                font-family: 'Baloo 2';
                font-weight: 800;
                font-size: 80px;
                margin-top: 20px;
            }

            >p.service-section-main-content {
                font-size: 18px;
                font-weight: 500;
                color: #666666;
            }
        }

        >div.service-container {
            display: flex;
            background-color: rgb(255, 200, 200);
            margin-top: -30px;
            padding-top: 5em;
            margin-right: auto;
            margin-left: auto;
        }
        >div.bg-bottom{
            margin-top: -30px;
        }
    }
}


// @media screen and (max-width: 1532px){
//     div.home-section-wrapper{
//         >div.home-section-content-wrapper{
//             >div.home-section-description-container{
//                 >p.home-section-title{
//                     font-size: 65px;
//                 }
//             }
//         }
//     }
// }