div.home-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.home-section-wrapper > div.home-section-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 50px;
}

div.home-section-wrapper > div.home-section-content-wrapper > p.home-section-title {
  font-family: 'Baloo 2';
  font-weight: 800;
  font-size: 80px;
  line-height: 85px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}

div.home-section-wrapper > div.home-section-content-wrapper > p.home-section-second-title {
  font-family: 'Inter';
  font-weight: 600;
  margin-top: 10px;
  font-size: 17px;
  margin-left: 30px;
  color: #666666;
}

div.home-section-wrapper > div.primary-button-pages-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 20px;
  z-index: 10;
}

div.home-section-wrapper > div.primary-button-pages-wrapper > a {
  cursor: pointer;
}

div.home-section-wrapper > div.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: rotate 5s infinite alternate;
          animation: rotate 5s infinite alternate;
  z-index: 5;
  margin-top: -4em;
  margin-left: -40%;
}

@-webkit-keyframes rotate {
  40% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  70% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes rotate {
  40% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  70% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

div.home-section-wrapper > div.person > img {
  width: 55%;
}

div.home-section-wrapper > div.custom-wavy-shape-bottom {
  position: relative;
  top: -12.5em;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

div.home-section-wrapper > div.custom-wavy-shape-bottom > svg {
  position: relative;
  display: block;
  width: calc(200% + 1.3px);
  height: 200px;
}

div.home-section-wrapper > div.custom-wavy-shape-bottom > svg > path.shape-fill {
  fill: #ED2F59;
}

div.home-section-wrapper > div.product-section-cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.home-section-wrapper > div.product-section-cards-wrapper > p.product-section-cards-title {
  font-size: 100px;
  font-family: 'Baloo 2';
  font-weight: 800;
  text-align: center;
  margin-top: -0.3em;
  background-color: #FFC8C8;
  width: 100%;
}

div.home-section-wrapper > div.product-section-cards-wrapper > div.product-card-first-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFC8C8;
  width: 100%;
  margin-top: -2em;
  padding-top: 5em;
  padding-bottom: 5em;
}

div.home-section-wrapper > div.product-section-cards-wrapper > div.product-card-first-container > img {
  margin-left: 20px;
  width: 570px;
}

div.home-section-wrapper > div.product-section-cards-wrapper > div.product-card-second-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFC8C8;
  width: 100%;
  margin-top: -2em;
  padding-top: 5em;
  padding-bottom: 5em;
}

div.home-section-wrapper > div.product-section-cards-wrapper > div.product-card-second-container > img {
  width: 570px;
}

div.home-section-wrapper > div.product-section-cards-wrapper > div.bg-bottom {
  margin-top: -2em;
}

div.home-section-wrapper > div.why-choose-us-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5em;
  background-color: #f0f0f0;
  width: 100%;
}

div.home-section-wrapper > div.why-choose-us-section-wrapper > p.why-choose-us-section-title {
  font-size: 100px;
  font-family: 'Baloo 2';
  font-weight: 800;
  margin-top: 30px;
}

div.home-section-wrapper > div.why-choose-us-section-wrapper > div.why-choose-us-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  padding-bottom: 10em;
}

div.home-section-wrapper > div.service-section-cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-top: 10em;
  margin-bottom: 10em;
  width: 100%;
}

div.home-section-wrapper > div.service-section-cards-wrapper > div.service-section-content-container {
  margin-top: -35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffc8c8;
  width: 100%;
}

div.home-section-wrapper > div.service-section-cards-wrapper > div.service-section-content-container > p.service-section-title {
  font-family: 'Baloo 2';
  font-weight: 800;
  font-size: 80px;
  margin-top: 20px;
}

div.home-section-wrapper > div.service-section-cards-wrapper > div.service-section-content-container > p.service-section-main-content {
  font-size: 18px;
  font-weight: 500;
  color: #666666;
}

div.home-section-wrapper > div.service-section-cards-wrapper > div.service-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffc8c8;
  margin-top: -30px;
  padding-top: 5em;
  margin-right: auto;
  margin-left: auto;
}

div.home-section-wrapper > div.service-section-cards-wrapper > div.bg-bottom {
  margin-top: -30px;
}
/*# sourceMappingURL=style.views.home.css.map */